@media only screen and (max-width: 576px) {
    .songHeadTable tr :first-child{
        display: none;
    }

    .songContainerBody {
        display: block
    }

    .songContainerBody tr {
        flex-grow: 1;
    }
    
    .songContainerBody th {
        /* display: flex; */
        position: absolute;
        top: 50%;
    }

    
}

/* CARD Inicio */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/pages/assets/fondo.webp)
}

.container-all-cards{
    height: 100vh;
    
}

.container-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding-left: 40px;
    flex-wrap: wrap;

}

.card{
    width: 350px;
    margin: 10px;
    padding: 20px;
    box-shadow: 20px 20px 50px regba(0,0,0,0.5);
    background: rgba(0, 0, 0, 0.8);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.card:hover{
    transform: translateY(-10px);
}

.card:hover .cover-card img{
    transform: scale(1.1);
}

.cover-card{
    width: 100%;
    height: 180px;
    border-radius: 14px;
    overflow: hidden;
}

.card .cover-card img{
    background-size: cover;
    width: 100%;
    transition: all 300ms;
    margin-left: 1 0px;
}

.card h2{
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.card .interprete{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
}

.text-muted{
    display: flex;
    justify-content: end;
    color: white;
}

.card hr{
    margin-top: 30px;
    border: none;
    height: 0.1px;
    background: #ffffff6f;
}

.footer-card{
    margin-top: 10px;
    display: flex;
    color: #fff;
    justify-content: space-between;
    
}

.footer-card .agregar-lista{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #006eff;
}

.footer-card a{
    color: #006eff;
    text-decoration: none;
}






    
@media screen and (max-width:1200px){
    .container-cards{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 100px;
        padding-bottom: 100px;
    }
    
}