.texto{
    background-color: #fff;
}

.contenedor-total{
    margin-top:  80px;
  
}

.container-card {
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
  /* estilos de imagen de card */
.card-img-top {
    object-fit: cover;
    background-size: cover;
    max-height: 20rem;
}
  /* card contenedor de imagen */
.card {
    border-radius: 10px;
    text-align: center;
}
.titulo{
    color:  #1a2537; 
    ;
}
