@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://previews.123rf.com/images/topform8/topform81407/topform8140700094/29786057-m%C3%BAsica-sin-fisuras-vector-de-fondo-con-los-iconos-en-el-estilo-de-dibujo.jpg);
    
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
    
    .songHeadTable tr :first-child{
        display: none;
    }

    .songContainerBody tr th {   
        display: none;
    }

    .btnContainer {
        position: relative; 
        top: -10px;
        right: 20px;
    }

    .btnContainer button {
        width: auto;
        height: auto;
        font-weight: bold;
        font-size: small;
        align-items: center;
    }  

    .collapseBtn {
        display: inline-block;
        
    }

    .collapseBtn button {
        display: none;
    }

    .collapseBtn a {
        color: white;
        background-color: rgba(14, 98, 14, 0.979);
        
    }

    
}

@media only screen and (min-width: 768px) {
    
/*DESPLEGABLE */
.collapseBtn {
    position: relative;
    right: 70px;
}

.collapseBtn button{
    background-color: rgb(85, 246, 85);
    color: black;
    width: 2rem;
    height: 5rem;
    border-radius: 1rem;
    position: relative; 
    left: 40px; 
    bottom: 50px;  
}

.collapseBtn a {
    color: white;
    background-color: rgba(14, 98, 14, 0.979);
    position: relative;
    top: 35px;
    visibility: hidden;
}

.collapseBtn a:hover {
    color: black;
    background: white;
}

.collapseBtn:hover {
    transform: translateX(60px);
    transition: 1s ease-in-out;   
}

.collapseBtn:hover a {
    visibility: visible;
    
}


/* FIN DESPLEGABLE */
}


h1{
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 10px 0px 10px rgb(0, 0, 0);
}

h3{
    color: rgb(255, 255, 255);
    text-shadow: 10px 0px 10px rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.btnContainer {
    position: relative; 
  
}

.btnContainer button {
    background-color: rgba(14, 98, 14, 0.979);   
    position: absolute;
    top: 50%; 
    left: 50%;
    margin: -1.6rem 0 0 -1.6rem
}

.btnContainer button:hover {
    background-color: rgb(85, 246, 85);
}

.fontBtn {
    font-weight: bold;
    font-size: large;
}


.songData {
    font-weight: 400;
    font-size: 1.7rem;
}

.tableImg {
    height: 10rem;
    object-fit: cover;
    filter: drop-shadow(0 0 0.5rem rgb(85, 246, 85));
}




 /* INICIO error 404  */
 /* 

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    
    margin: auto;
}

.bg_animate{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #a9b2b8, #505BDA);
    position: relative;
    overflow: hidden;
}

.header_nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.banner_title h2{
    color: aliceblue;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0px;
}
.banner_title .sacame{
    color: antiquewhite;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #005c98;
    padding: 20px;
}

.conten__img{
    animation: movimiento 2.5s linear infinite;
}

.conten__img img{
    width: 600px;
    display: block;
    margin: 20%;
} */

/* burbujas*/

/* .burbuja{
    
    border-radius: 50%;
    background: azure;
    opacity: .3;

    position: absolute;
    bottom: -150;
    

    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 90px;
    height: 90px;
    left: 8%;
    animation-duration: 3.1s;
    animation-delay: 4.5s;
}
.burbuja:nth-child(3){
    width: 70px;
    height: 70px;
    left: 19%;
    animation-duration: 3s;
    animation-delay: 4.4s;
}
.burbuja:nth-child(4){
    width: 60px;
    height: 60px;
    left: 52%;
    animation-duration: 3s;
    animation-delay: 4s;
}
.burbuja:nth-child(5){
    width: 20px;
    height: 20px;
    left: 25%;
    animation-duration: 4s;
    animation-delay: 3s;
}
.burbuja:nth-child(6){
    width: 50px;
    height: 50px;
    left: 49%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbuja:nth-child(7){
    width: 30px;
    height: 30px;
    left: 29%;
    animation-duration: 3.5s;
    animation-delay: 2.7s;
}


@keyframes burbujas {
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
} */
/* FIN error 404  */
